{% extends 'app/layout.html' %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<dl class="dl-horizontal">
    <dt><a href="https://www.youtube.com/watch?v=uXu4_s5nuwI">Птицы</a></dt>
    <dd>Подтверждение того, что птиц начали заменять дронами-шпионами уже давно.</dd>
    <br/>
    <dt><a href="https://www.youtube.com/watch?v=iTOKRWgjOlg">Роаноук</a></dt>
    <dd>Нераскрытый секрет давно утерянной колонии</dd>
    <br />
    <dt><a href="https://ru.wikipedia.org/wiki/Исчезновение_Фредерика_Валентича">Фредерик Валентич</a></dt>
    <dd>Исчезнувший в никуда пилот, сообщивший о НЛО в свои последние секунды</dd>
</dl>

{% endblock %}
