{% extends 'app/layout.html' %}

{% block content %}

<div class="container-fluid">
    <h1 class="center-block text-center">Присоединитесь к просвещенным</h1>
    <h3 class="center-block text-center">Зарегистрируйтесь на WTEDS</h3>
</div>
<div class="col-md-12" style="min-height: 80px"></div>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-2"></div>
    <form method="POST" class="center-block col-md-8">
        {% csrf_token %}
        <table class="table container center-block">
            {{ regform.as_table }}
        </table>
        <button class="btn submit-button btn-primary btn-block btn-lg">Зарегистрироваться</button>
    </form>
    <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}